@media (max-width: 600px){/*para saber si se está viendo desde un cel*/

   
    .product, .witness{
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .main_section{
        padding: 4%;
    }
    
    .features, .products, .witnesses{
        display: inherit;       
    }
    .feature{    
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background-color: #fed6ff;
    }
    .witnesses .imagen{
        height: 150px;
        width: 150px;        
    }
    
    .container{
        
    }
}